<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
    <br><br><br>
<body class="registerBody">
  
    

    
          

			
            <!-----------Right Side-------------->
			<center>	<div  class="login">
                <h3>Log In</h3>
						
                <!--Starting of Text Fields----------->
               
                       
                        
                           <input class="TF" type="text" id="email" placeholder="E-Mail" required>
                        
                            <input class="TF"  type="password" id="password" placeholder="Password" minlength="8" maxlength="16" required>
                       
                        

                           
                            
                       <!--End of Text Fields----------->
                    <!-----Submit-->

                    <input type="submit" class="submitLogin" value="Login">
                <center>   <a class="haveAcount" href="register.html">Doesn't have an account?</a></center>
						
        </div></center>					
           
           
       
       
          


</body>
</html>