<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
    <br><br><br>
<body class="registerBody">
   <center> <div class="container">
    
       <table class="container">
       <tr>
    
            <!-----------Left Side-------------->
           <td> <div class="leftDiv">
           <center> <p>BE  
           <br><span> A CAMBER</span>
            NOW!</p></center>
         <center>   <a class="haveAcount" href="login.html">already have an account?</a></center>
          
           </div>
           </td>

			
            <!-----------Right Side-------------->
				<td><div  class="register">

						
                <!--Starting of Text Fields----------->
                <table>
                        <tr>

                            <td><input class="TF" type="text" id="name" placeholder="  First Name" required></td>
                        </tr>
                    <tr>

                            <td><input class="TF" type="text" id="name" placeholder="  Last Name" required></td>
                        </tr>
                        <tr>

                            <td><input class="TF" type="text" id="email" placeholder="E-Mail" required></td>
                        </tr>
                        <tr>

                            <td><input  class="TF"  type="text" id="tel-number" placeholder=" Phone Number" required></td>
                        </tr>

                        <tr>

                            <td><input class="TF"  type="date" id="date"  required></td>
                        </tr>
                        <tr>

                            <td><input class="TF"  type="password" id="password" placeholder="Password" minlength="8" maxlength="16" required></td>
                        </tr>
                        <tr>

                            <td ><input  class="TF"  type="password" id="confirmPassword" placeholder="Confirm Password"  required></td></tr>
                             </table>
                       <!--End of Text Fields----------->
                    <!-----Submit-->

                    <input type="submit" class="submitRegister" value="Register">

						
        </div>	</td>				
           
           </tr>
       
       </table>
           </div></center>


</body>
</html>